.unclass-bar {
    position: fixed;
    top: 0;
    left: 0;
    background: green;
    width: 100%;
    z-index: 1000;
    color: white;
    text-align: center;
    height: 1;
    font-family: 'armyfont';
    src: url('../fonts/USArmyWeb-Regular.eot');
    src: url('../fonts/USArmyWeb-Regular.eot') format('embedded-opentype'), url('../fonts/USArmyWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

   