body {
  padding-top: 1.5rem ;
  margin: 0px;
  font-family: 'armyfont';
  
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

@font-face{
  font-family: 'armyfont';
  src: url('./fonts/USArmyWeb-Regular.eot');
  src: url('./fonts/USArmyWeb-Regular.eot') format('embedded-opentype'), url('./fonts/USArmyWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.accept {
   background: black;
   border-radius: 8px;
   color: white;
}